* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise {
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}

.live {
  position: fixed;
  right: 0;
  top: 0;
  height: 40vh;
  width: 35vw;
  z-index: 5;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 10px;
}

#timer {
  color: red;
  font-size: 7vh;
  position: fixed;
  z-index: 69;
  top: 20px;
  left: calc(50vw - 3.5vh);
}

#message {
  font-size: 10vh;
  width: 90vw;
  text-align: center;
}