* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  height: 90vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
}

.exercise {
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}

.live {
  position: fixed;
  right: 0;
  top: 0;
  height: 40vh;
  width: 35vw;
  z-index: 5;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 10px;
}

#timer {
  color: red;
  font-size: 7vh;
  position: fixed;
  z-index: 69;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#encourage {
  color: rgb(71, 255, 71);
  font-size: 7vh;
  position: fixed;
  z-index: 69;
  top: calc(15vh);
  left: 50%;
  transform: translate(-50%, -50%);
}

#message {
  font-size: 10vh;
  width: 90vw;
  text-align: center;
  color: white;
}

#exercises {
  z-index: 65;
  margin-top: 2vh;
  width: 90vw;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.choice {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.choice img {
  width: 100%;
  height: auto;
}

.choice p {
  font-size: 6vh;
  color: white;
}
