* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view {
  height: 100vh;
  width: 100vw;
}

.exercise {
  height: 100%;
  width: 100%;
}

.live {
  position: fixed;
  right: 0;
  top: 0;
  height: 300px;
  width: auto;
  z-index: 5;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 10px;
}